@charset "utf-8";

/* - ver2.0 (2017.02) 
 	- 배포 시작 : 2017년 3월
 	- 주요 태그에 대한 reset용도   	
 */
 
body {font-family:'Malgun Gothic', '맑은 고딕'; font-size:12px;color:#444; background:#fff;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,a,pre{margin:0;padding:0;-webkit-text-size-adjust:100%;}
header,hgroup,article,nav,footer,figure,figcaption,canvas,section{display:block}

ul, ol {list-style:none outside none;}
hr {display:none;}
a:link, a:visited {text-decoration:none;}
a:hover, a:active {text-decoration:none;}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
a:focus,input:focus,button:focus,textarea:focus{/*outline:3px solid #d7f07f*/outline:none;}
form *, input, select, textarea {vertical-align:middle;}
input, select, textarea {background-color:#ffffff;}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #444;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #444;
}
form {margin:0; padding:0;}
fieldset {border: 0 none transparent; margin: 0; padding: 0;}
legend, caption {visibility:hidden;margin:0;padding:0;width:0;height:0;overflow:hidden;font-size:0px;line-height:0px;}
img,fieldset {border:0;vertical-align:middle;}
table {width:100%;border-collapse:collapse;}
table tr th img, table tr td img {vertical-align:middle;}
table td * {vertical-align:middle;}
em,address {font-style: normal;}

a, button {cursor:pointer;outline:none;}
pre {font-family:'Malgun Gothic', '맑은 고딕';}

/* common */
.fr {float:right;}
.fl {float:left;}
.clear {clear:both;}
.vat {vertical-align:top;}
.vam {vertical-align:middle;}
img.vam {vertical-align:middle;margin-bottom:2px;}
.fwb {font-weight:bold;}

.pointer {cursor: pointer;}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
.text-dpn {text-indent:-9000px;line-height:0;font-size:0;}
.bgn {background-image:none}
.dipyn {display:none;}

.required {display:inline-block;vertical-align:top !important; margin-top:2px;margin-left:5px !important; color:#ff6600 !important;width:7px;height:5px;background:url('../images/common/ico_required.gif') no-repeat 0 0;text-indent:-9000px;line-height:0;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-center {text-align:center !important;}
.ellipsis {white-space:nowrap !important;overflow:hidden !important;text-overflow:ellipsis !important;}
.nowrap {white-space:nowrap !important;}