/* form */
.input-text, select, .select, .textarea  {margin:0 4px 0 0; border-top:1px solid #aaa; border-left:1px solid #aaa; border-bottom:1px solid #c3c3c3; border-right:1px solid #c3c3c3; font-size:12px; font-family:'Malgun Gothic', '맑은 고딕'; color:#444; line-height:17px;}
/* form for ie6-10 */
.input-text, select, .select, .textarea  {margin:0 4px 0 0\9;}
input.input-text {height:17px;padding:1px 6px 2px;  background-color:#fff;}